.button{
    text-decoration: none;
}
p{
  text-align: center;
}
/* body{
    width: 100%;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/top-view-agenda-glasses-pencil_23-2148459513.jpg?w=900&t=st=1694479692~exp=1694480292~hmac=9b69c0b8934e763863d594583d74f3ba05291c75ba9e42d0acb0b8844833e0f2");
    background-repeat: no-repeat;
    background-size: cover;
}  */
